.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-back-icon {
    margin-right: 0.5rem;
}

.header-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: #2563eb;
    flex: 1;
}

.container {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 40px;
}
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
th,
td {
    padding: 8px;
}
th {
    font-weight: bold;
}
tr.border-t {
    border-top: 1px solid #e5e7eb;
}
.product-info {
    display: flex;
    align-items: center;
}
.product-info img {
    width: 50px;
    height: 50px;
    margin-right: 16px;
}
.product-info div {
    display: flex;
    flex-direction: column;
}
.product-info .text-gray-500 {
    color: #6b7280;
}
.button-red {
    background-color: #ef4444;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-blue {
    background-color: #3b82f6;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.total {
    border-top: 1px solid #e5e7eb;
    margin-top: 16px;
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total .text-lg {
    font-size: 1.125rem;
    font-weight: 600;
}

.total .button-blue {
    margin-right: 50px;
}
