{% extends "base.html" %} {% block title %}Trang Chủ{% endblock %} {% block
extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='styles/cart.css') }}"
/>

{% endblock %} {% block content %}

<header class="header">
    <div class="header-container">
        <h1 class="header-title">Giỏ hàng</h1>
    </div>
</header>

<div class="container">
    <table>
        <thead>
            <tr>
                <th>Sản Phẩm</th>
                <th>Size</th>
                <th>Màu sắc</th>
                <th>Số Lượng</th>
                <th>Tổng tiền</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr class="border-t">
                <td class="product-info">
                    <img
                        src="{{ url_for('static', filename='images/default.png') or item.image }}"
                        alt="{{ item.name }}"
                    />
                    <div>
                        <div>{{ item.name }}</div>
                    </div>
                </td>
                <td>{{ item.size }}</td>
                <td>{{ item.color }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ "{:,.0f}".format(item.total_money) }} VNĐ</td>
                <td>
                    <form
                        method="POST"
                        action="{{ url_for('views.delete_from_cart') }}"
                    >
                        <input
                            type="hidden"
                            name="product_id"
                            value="{{ item.product_id }}"
                        />
                        <input
                            type="hidden"
                            name="color"
                            value="{{ item.color }}"
                        />
                        <input
                            type="hidden"
                            name="size"
                            value="{{ item.size }}"
                        />
                        <input
                            type="hidden"
                            name="cart_id"
                            value="{{ item.cart_id }}"
                        />
                        <button type="submit" class="button-red">Xóa</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="total">
        <div class="text-lg">
            Tổng Cộng ({{ total_products }} sản phẩm): {{
            "{:,.0f}".format(total_money) }} VNĐ
        </div>
        {% if total_products > 0 %}
        <form method="POST" action="{{ url_for('views.cart') }}">
            <input type="hidden" name="action" value="place_order" />
            <button type="submit" class="button-blue">Đặt hàng</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock %}
